/* (241CS107) Amisha Vidya Diwakar | Module: Demand Paging */

body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #0d0d0d;
    color: white;
}

.container {
    width: 80%;
    margin: auto;
    padding: 30px;
}

h1 {
    text-align: center;
    color: #ff2d2d;
}

.card {
    background: #111;
    padding: 20px;
    margin-top: 20px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(255,0,0,0.15);
}

label {
    display: block;
    margin-top: 10px;
    color: #aaa;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    background: #1a1a1a;
    border: none;
    border-radius: 6px;
    color: white;
}

button {
    margin-top: 20px;
    padding: 12px;
    width: 100%;
    background: #ff2d2d;
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #ff0000;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

td, th {
    border: 1px solid #444;
    padding: 10px;
    text-align: center;
}

.fault {
    background-color: #ff2d2d;
}

.hit {
    background-color: #00cc66;
}

.highlight {
    background-color: #333;
}

.legend span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 10px;
}

.faultBox {
    background: #ff2d2d;
}

.hitBox {
    background: #00cc66;
}

.info {
    font-size: 18px;
}

.stats p {
    font-size: 18px;
}